body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}

header {
    background-color: aquamarine;
    margin-top: 90px;
}

nav {
    background-color: chocolate;
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 30px;  
    
}

nav ul li {
    display: inline-block;
    margin-right: 60px;
    list-style: none;

    
}

nav ul li a {
    text-decoration: none;
    background-color: cadetblue;
    padding-left: 3px;
    padding-right: 3px;
}

h3 {
    border-top: solid 1px black;
}

table th {
    width: 133px;
    text-align: right;
    background-color: darkcyan;
}

table td {
    width: 133px;
    text-align: right;
    border-bottom: solid 1px black;
}