#settings div {
  display: inline-block;
  border: solid 1px black;
  width: 90px;
  height: 90px;
}

#background-color .white{
  background-color: white;
}

#background-color .grey{
  background-color: grey;
}

p {
  line-height: 60px;
}